@import url(https://fonts.googleapis.com/css?family=Vollkorn);
@import url(https://fonts.googleapis.com/css?family=EB+Garamond);
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600,500);
body {
    /*
				width: 70%;
				margin: 0 auto;
*/
    font-family: "EB Garamond", "Times New Roman", serif;
    font-size: 1.8em;
    background: white;
    border-bottom: 1px solid black;
}
h1 {
    font-family: "Helvetica Neue", "Raleway", sans-serif;
    font-size: 2em;
    font-weight: normal;
    margin: 1em 0 0.4em;
}
p {
    line-height: 1.6;
    text-align: justify;
    margin: 0;
    margin-bottom: 1em;
}
li {
    font-size: 1em;
}
h3 {
    font-family: "Helvetica Neue", "Raleway", sans-serif;
    font-size: 1.5em;
    font-weight: normal;
}
a {
    color: gray;
}
a:hover {
    color: blue;
}

.btn-primary {
    color: #fff;
    background-color: #888;
    border-color: #888;
}
.btn-primary:hover {
    color: #fff;
    background-color: #222;
    border-color: #222;
}
.btn-primary:visited {
    color: #fff;
    background-color: #888;
    border-color: #888;
}

.foot {
    border-top: 1px black;
}
h2.justanexample {
    color: purple;
    font-weight: normal;
}
.justshowingitspossible {
    color: red;
}
