body {
    width: 70%;
    max-width: 800px;
    margin: 0 auto;
    font: 100% Helvetica, Arial, sans-serif;
    font-weight: lighter;
    background: white;
    border-bottom: 1px solid black;
}
h1 {
    font-family: Georgia, "Times New Roman", serif;
    font-size: 2em;
    font-weight: normal;
    margin: 1em 0 0.4em;
}
p {
    line-height: 1.6;
    text-align: justify;
    margin: 0;
    margin-bottom: 1em;
}
li {
    font-size: 1em;
}
h3 {
    font-family: Georgia, "Times New Roman", serif;
    font-size: 1.5em;
    font-weight: normal;
}
a {
    color: gray;
}
a:hover {
    color: blue;
}
.foot {
    border-top: 1px black;
}
#containers img {
    max-width: 400px;
    width: 100%;
    height: auto;
}
@media (max-width: 800px) {
    body {
        width: 100%;
        box-sizing:border-box;
        padding: 0px 20px 0px 20px;
    }
}